In [1]:
import pandas as pd

In [2]:
pd.options.mode.chained_assignment = None

In [5]:
df = pd.read_csv("data/aoa_assoc_word2vec_colex.csv")

In [3]:
df_colex = pd.read_csv("data/df_all_raw.csv")

C:\Users\Ziqi\AppData\Local\Temp\ipykernel_10172\3461934554.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_colex = pd.read_csv("data/df_all_raw.csv")

In [6]:
df_colex.columns = list(map(str.lower, df_colex.columns))
df_colex = df_colex.drop(columns=['dataset_id', 'form_id', 'form', 'gloss_in_source', 'iso639p3code', 'mrc_word', 'kucera_francis_frequency'])

In [7]:
df_colex.head()

,clics_form,concepticon_id,concepticon_gloss,ontological_category,semantic_field,variety,glottocode,macroarea,family,latitude,longitude,age_of_acquisition,concreteness,familiarity,imagability
0,san,1369,GOLD,Person/Thing,Basic actions and technology,Bugun Bichom,bich1234,NaN,Sino-Tibetan,NaN,NaN,NaN,576.0,550.0,594.0
1,san,1369,GOLD,Person/Thing,Basic actions and technology,Bugun Kaspi,kasp1234,NaN,Sino-Tibetan,NaN,NaN,NaN,576.0,550.0,594.0
2,san,1369,GOLD,Person/Thing,Basic actions and technology,Bugun Namphri,namp1239,NaN,Sino-Tibetan,NaN,NaN,NaN,576.0,550.0,594.0
3,san,1369,GOLD,Person/Thing,Basic actions and technology,Bugun Singchung,sing1271,NaN,Sino-Tibetan,NaN,NaN,NaN,576.0,550.0,594.0
4,san,1369,GOLD,Person/Thing,Basic actions and technology,Bugun Wangho,wang1301,NaN,Sino-Tibetan,NaN,NaN,NaN,576.0,550.0,594.0

In [8]:
df_selected_columns = df_colex[["concreteness", "concepticon_gloss", "concepticon_id"]]

In [9]:
df.head()

,Unnamed: 0,concept_1,concept_2,colexification_count,age_acquisition_diff,assoc,Word2Vec_similarity
0,2,AFTERNOON,AUTUMN,1,3.0,0.0,0.609916
1,3,AFTERNOON,COLD,1,98.0,0.0,0.470634
2,4,AFTERNOON,EVENING,17,22.0,15.0,0.756927
3,5,AFTERNOON,LOOK,1,56.0,0.0,0.465106
4,6,AFTERNOON,LUNCH,2,6.0,11.0,0.684256

In [10]:
df_selected_columns.head()

   concreteness concepticon_gloss  concepticon_id
0         576.0              GOLD            1369
1         576.0              GOLD            1369
2         576.0              GOLD            1369
3         576.0              GOLD            1369
4         576.0              GOLD            1369

In [11]:
concept1 = df["concepticon_1"]
concept2 = df["concepticon_2"]

KeyError: 'concepticon_gloss_1'

In [11]:
my_dict = dict(zip(df_selected_columns["concepticon_gloss"], df_selected_columns["concreteness"]))
my_dict["GOLD"]

576.0

In [12]:
concrete_diff = []
concrete_1 = []
concrete_2 = []
for c1, c2 in zip(concept1, concept2):
    concrete1 = my_dict[c1]
    concrete2 = my_dict[c2]
    val = abs(concrete1 - concrete2)
    concrete_1.append(concrete1)
    concrete_2.append(concrete2)
    concrete_diff.append(val)

In [13]:
df['concreteness_diff'] = concrete_diff
df['concreteness_1'] = concrete_1
df['concreteness_2'] = concrete_2

In [14]:
#df.to_csv('updated_merged_data.csv', index=False)

In [15]:
df2 = df[df['colexification_count'] != 1]

In [16]:
df2.head()

,concept_1,concept_2,colexification_count,concepticon_gloss_1,age_of_acquisition_1,concepticon_gloss_2,age_of_acquisition_2,avg_age_acquisition,age_acquisition_diff,Word2Vec_similarity,association,concreteness_diff,concreteness_1,concreteness_2
4,AFTERNOON,EVENING,17,AFTERNOON,281.0,EVENING,303.0,292.0,22.0,0.756927,17.0,33.0,406.0,439.0
6,AFTERNOON,LUNCH,2,AFTERNOON,281.0,LUNCH,275.0,278.0,6.0,0.684256,2.0,146.0,406.0,552.0
7,AFTERNOON,NIGHT,3,AFTERNOON,281.0,NIGHT,222.0,251.5,59.0,0.673507,3.0,90.0,406.0,496.0
8,AFTERNOON,PIG,2,AFTERNOON,281.0,PIG,233.0,257.0,48.0,0.361940,2.0,208.0,406.0,614.0
9,AFTERNOON,SUN,2,AFTERNOON,281.0,SUN,181.0,231.0,100.0,0.336822,2.0,211.0,406.0,617.0

In [18]:
df2.to_csv('updated_merged_data_without_count1.csv', index=False)